@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main:#3A5A40;
    --firstColor:#344E41;
    --secondColor:#588157;
    --thirdColor:#DAD7CD;
    --fourthColor:#A3B18A;
}

body {
    height: 95dvh;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--fourthColor);
    font-family: 'Cabin Sketch';
}
body * {
    margin: 0;
    padding: 0;
}
.map-container {
    height: 80%;
}
#map {
    border: var(--main) solid 3px;
    margin-top: 65px;
    height: 100%;
}


.filter-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    /* Augmente la hauteur de la barre de navigation */
    background-color: var(--main);
    opacity: 0.7;
    /* Couleur semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 0 30px;
    z-index: 1000; /* barre est au-dessus de la carte */
    
}
.circle-label {
    color : '#344E41',

    
}
select,
button {
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: var(--main);
    background-color: var(--thirdColor);
    border-radius: 5px;
    box-shadow: 2px 2px var(--firstColor);
    font-family: 'Urbanist';
    font-weight: 600;
}

.leaflet-popup-content span {
    text-decoration: underline;
    font-weight: 800;
    border-radius: 10px;
}
.leaflet-popup-content {
    width: 100%;
    display: block;
    width: 80%;
    text-align: center;
    background-color: var(--thirdColor);
    margin: 10px ;
    padding: 0;
    border-radius: 10px;
}
.leaflet-popup-content-wrapper {
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main);
    width: 400px;
    font-family: 'Urbanist';
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: var(--firstColor) 2px 2px;
    margin: 0;
    padding: 0;
}
.leaflet-popup-content img {
    /* width: 100px; */
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.582) 2px 2px;
}

.leaflet-popup-tip {
    background-color: var(--main);
    box-shadow: var(--main) 2px 2px;

}

.leaflet-popu {
    /* transition: ease-in-out 2sec; */
}

.circle {
    color: var(--thirdColor);
}