@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main:#3A5A40;
    --firstColor:#344E41;
    --secondColor:#588157;
    --thirdColor:#DAD7CD;
    --fourthColor:#A3B18A;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Urbanist';
    background-color: var(--main);

}
body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.all {
    height: 100dvh;

    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    color: var(--thirdColor);
}

/*//////////////// FILTER BAR ///////////////*/
.filter-select {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

select,
button {
    width: fit-content;
    height: fit-content;
    margin: 0 5px;
    padding: 5px;
    border: 1px solid #999;
    font-size: 18px;
    color: var(--main);
    background-color: var(--thirdColor);
    border-radius: 5px;
    box-shadow: 2px 2px var(--firstColor);
    font-weight: 600;
}
/*//////////////// eo : FILTER BAR ///////////////*/


.map-container {
    flex-grow: 1;
}

#map {
    border: var(--fourthColor) dotted 3px;
    height: 100%;
    border-radius: 10px;
}

/*//////////////// POPUP ///////////////*/
.leaflet-popup-content span {
    font-weight: 800;
}
.leaflet-popup-content {
    display: block;
    text-align: center;
    background-color: var(--thirdColor);
    margin: 15px ;
    border-radius: 10px;
    padding: 5px;
}
.leaflet-popup-content p {
    margin: 0;
}
.leaflet-popup-content-wrapper {
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main);
    width: 316px;
    font-family: 'Urbanist';
    font-weight: 600;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: var(--firstColor) 2px 2px;

}
.leaflet-popup-content img {
    max-width: 200px;
    height: 100px;
    border-radius: 50%;
}

.leaflet-popup-tip {
    background-color: var(--main);
    box-shadow: var(--main) 2px 2px;

}
/*//////////////// eo : POPUP ///////////////*/

.circle {
    color: var(--thirdColor);
}
.icon  {
    height: 38px;
    width:35px;
    background-color:rgb(232, 158, 84);
    border-radius: 50%;
    border: 1px black solid;
}

.credit,
.credit a:link,
.credit a:visited {
    color: var(--fourthColor);
}

.banniere{
    background-color: var(--thirdColor);
    text-align: center;
    padding: 10px;
}

.presentation{
    position: absolute;
    top: 30%;
    width: 40%;
    left: 30%;
    background-color: var(--fourthColor);
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.presentation  p {
    padding: 10px;
}
.presentation a {
    background-color: var(--main);
    color: var(--thirdColor);
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;

}

.display-names{
    display: flex;
     flex-wrap: wrap;
     flex-direction: row;
     align-content: space-between;
     justify-content: space-between;
    align-items: center;
    animation: moveRight 2s infinite;
    }

.display-names p {
    padding: 15px;
}

@keyframes moveRight {
    0% {
        transform: translateX(100%);
    }

    100%{
        transform: translateX(-100%);
    }
}
